.todosItem{
   min-width: 250px;
   min-height: 250px;
   background-color: #fffdd0;
   border-radius: 20px;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 12px;
   padding: 15px;
}

.todosItemCheckbox{
   /* position: absolute;
     z-index: -1;
      opacity: 0; */
        
     width: 20px;
     height: 20px;
     border-radius: 4px;
     border: 2px solid #55280c;
     cursor: pointer;
     color: #7AC100;  
     background-color: aqua;  
   }

.todosItemBox{
   width: 200px;
   height: auto;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 15px;
}

.todosItemTitle{
   font-size: 24;
   font-weight: bold;
}

.todosItemDescription{
   font-size: 24;
}
   
   