   /*  Основные цвета: лаванда #c79fef беж #fffdd0 шоколад #55280c фисташка #bef574 */
.main {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 1000px;
  align-items: center;
}

.sectionForm{
  width: 500px;
  background-color: #fffdd0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.sectionFormHeader{
  font-size: 40px;
}

.sectionTodos{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.sectionTodosHeader{
  font-size: 35px;
}

